<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>564655336527-4kej2a1mk3kden15u38mohke7ndvn9sc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564655336527-4kej2a1mk3kden15u38mohke7ndvn9sc</string>
	<key>API_KEY</key>
	<string>AIzaSyBUwwdf-Kh2AbtDyb_77OM9E3zy-R9mL3M</string>
	<key>GCM_SENDER_ID</key>
	<string>564655336527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SpaceArena.ios</string>
	<key>PROJECT_ID</key>
	<string>spacearenaios</string>
	<key>STORAGE_BUCKET</key>
	<string>spacearenaios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564655336527:ios:833f0adc7acfd14b</string>
	<key>DATABASE_URL</key>
	<string>https://spacearenaios.firebaseio.com</string>
</dict>
</plist>